# Visual Studio Artifacts
*proj.user
*.ncrunchsolution
*.ncrunchsolution.user

# Build Artifacts
*/bin/*
*/obj/*
*/x64/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# NCrunch files
*.ncrunchproject

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Nuget packages
*.nupkg
